<%- include("partials/header.ejs") %>
<h1 style="padding-top: 20px; margin-bottom: 40px">Posts</h1>

<div style="display: flex; flex-direction: row; gap: 50px; flex-wrap: wrap">
    <% if (locals.posts) { %>
      <% posts.forEach((post) => {  %>
    <div class="post-view">
      <div class="post-content">
        <h2><%= post.title %></h2>
        <p class="post-description"><%= post.description %></p>
      </div>
      <div class="post-meta">
        <p>Author: <%= post.author %></p>
        <p>Date: <%= post.date %></p>
      </div>
      <div class="form-container-buttons">
        <form action="/post/edit/<%= post.id %>" method="post">
          <input type="hidden" value="<%=post.title%>" name="title">
          <input type="hidden" value="<%=post.author%>" name="author">
          <input type="hidden" value="<%=post.description%>" name="description">
          <input type="hidden" value="<%=post.id%>" name="id">
          <input type="hidden" value="<%=post.date%>" name="date">
          <button type="submit" class="btn btn-primary" >Edit</button>  
        </form>
        
        <form action="/post/delete/<%= post.id %>" method="post">
          <input type="hidden" value="<%=post.id%>" name="id">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <% }) %>
  <% } %>
  </div>

<%- include("partials/footer.ejs") %>
